# One month for most static assets
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#Default rewrites
RewriteRule ^bc index.php
RewriteRule ^sitemap\.xml$ sitemap.php [L]

#Default rewrites
RewriteRule ^over-mij$ about.php
RewriteRule ^contact$ contact.php
RewriteRule ^videoproductie$ videos.php
RewriteRule ^videos$ videos.php
RewriteRule ^video/([^/]+)/?$ videos.php
RewriteRule ^fotografie$ photos.php
RewriteRule ^collectie/([^/]+)/?$ photos.php
RewriteRule ^droneracing$ drone.php
RewriteRule ^drone$ drone.php